@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.lab-record {
    box-sizing: border-box;
    display: flex;
    width: 100vw;
    height: 80vh;
    background-color: var(--bg-color-seconday);
    color: var(--text-color-primary);

    .lab-record-text {
        font-family: "Poppins", sans-serif;
        width: 50%;
        padding: 0 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;

        h1 {
            font-size: 2.5rem;
        }

        .content {
            p {
                padding: 10px 0px;
            }
        }
    }

    .lab-record-image {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;

        img {
            width: 80%;

        }
    }
}

@media only screen and (max-width: 768px) {
    .lab-record {
        height: auto;
        flex-direction: column;

        .lab-record-text {
            width: 100%;
            padding: 30px;
        }

        .lab-record-image {
            width: 100%;
            padding: 20px 10px;

            img {
                width: 100%;
            }
        }
    }
}

